*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

.search{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#textsearch{
    height: 25px;
    width: 200px;
}

#spkbtn{
    margin-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#speaker{
    height: 20px;
    width: 15px;
}

#srcbtn{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#spkbtn1{
    display: flex;
    align-items: center;
    justify-content: center;
}
