*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#chellamsirdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

#chellamsir{
    height: 180px;
    width: 200px;
    border-radius: 10px;
}

.search{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#textsearch{
    background-color: white;
    color: black;
    border-radius: 10px;
    border-color: rgb(113, 122, 125);
    padding: 2px 8px;
    height: 25px;
    width: 200px;
}

#spkbtn{
    background-color: white;
    margin-left: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

#speaker{
    height: 25px;
    width: 20px;
    border-radius: 10px;
}

#srcbtn{
    background-color: white;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spkbtn1{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;  
}
